/*Gtk::Box*/
#MainDlgLUBox {
	background-color: lightgray;
}
/*Gtk::Button*/
#MainDlgCloseButton,
#MessageCloseButton {
	color: yellow;
	background-color: blue;
}
/*Gtk::ButtonBox*/
#MainDlgCloseBox,
#MessageButtonBox {
	background-color: lightgray;
}
/*Gtk::Entry*/
#patternEntry {
	color: black;
	background-color: white;
}
/*Gtk::Label*/
#dictionaryLabel,
#patternLabel,
#statusLabel,
#MessageLabel {
	color: black;
	background-color: lightgreen;
}
/*Gtk::TextView
#resultsList.view text,
#txtView.view text {
	color: black;
	background-color: lightgreen;
}*/
